<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->


 <context:annotation-config>


 </context:annotation-config>

    <bean id="employee" class="com.arjun.model.Employee">
        <property name="employeeId" value="323242"></property>
        <property name="employeeName" value="Sean Murphy"></property>

    </bean>

    <bean id="pancard" class="com.arjun.model.Pancard">
        <property name="panHolderName" value="Sean Murphy"></property>
        <property name="panNumber" value="HCKPS1453F"></property>
    </bean>

</beans>



